[submodule "docs/academicons"]
    path = docs/academicons
    url = https://github.com/jpswalsh/academicons
[submodule "docs/font-awesome"]
    path = docs/font-awesome
    url = https://github.com/FortAwesome/Font-Awesome
